#options {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.option {
    transition: all 0.3s ease;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff0;
    border: 2px solid #fff6;
    border-radius: 8px;
    z-index: 5;

    &:hover:not(:disabled) {
        background: var(--option-bg);
        border-color: #fff0;
        cursor: pointer;
    }

    > img {
        transition: all 0.3s ease;
        width: 50px;
    }
}